<header>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
            <li><a asp-controller="Users" asp-action="Register">Регистрация</a></li>
            <li><a asp-controller="Users" asp-action="Users">Пользователи</a></li>
            <li><a asp-controller="Contacts" asp-action="Index">Контакты</a></li>
            <li><a asp-controller="Feedback" asp-action="Add">Contact us</a></li>
            <li><a asp-controller="Logs" asp-action="Index">Логи</a></li>
            <li><a asp-controller="Home" asp-action="About">О нас</a></li>
        </ul>
    </nav>
</header>